@import url('blocks/reviews.css');
@import url('blocks/prices-content.css');
@import url('blocks/prices-item.css');
@import url('blocks/partners.css');
@import url('blocks/partners-content.css');
@import url('blocks/partner.css');

.container--prices {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs--prices {
  margin-bottom: 29px;
}

.content-title__prices {
  margin-bottom: 50px;
}

.prices--prices {
  margin-bottom: 65px;
}

.content--prices {
  padding-top: 29px;
}

.nav--prices {
  margin-bottom: 25px;
}