@import url('blocks/reviews.css');
@import url('blocks/promo.css');
@import url('blocks/feedback-form.css');

.breadcrumbs--reviews {
  margin-bottom: 29px;
}

.promo--reviews {
  padding-top: 23px;
  padding-bottom: 31px;
  margin-bottom: 25px;
}

.content-title__feedback-form {
  margin-bottom: 26px;
}

.feedback--reviews {
  margin-bottom: 47px;
}

.nav__reviews {
  margin-bottom: 28px;
}