@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProRegular.woff2") format("woff2"),
    url("../fonts/GothamProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProBold.woff2") format("woff2"),
    url("../fonts/GothamProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadProRegular.woff2") format("woff2"),
    url("../fonts/MyriadProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gotham Pro', Helvetica, sans-serif;
  line-height: 1.42;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.content-title {
  color: #221f1f;
  font-size: 49px;
  font-weight: bold;
  margin-top: 0;
}

/* Header */
.header {
  background-color: #27273e;
}

.container__header {
  position: relative;
  height: 77px;
}

.logo__header {
  position: absolute;
  top: 13px;
  left: 0;
}

.contacts__header {
  position: absolute;
  top: 21px;
  right: 0;
}

.contacts__phone {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none
}

.contacts__work-schedule {
  text-align: right;
}

.contacts__work-schedule-link {
  opacity: 0.7;
  color: #ec1e79;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.contacts__work-schedule-details {
  display: none;
}

/* Banner */

.banner {
  background-color: #27273e;
  margin-bottom: 50px;
}

.container__banner {
  background: url('../img/banner.jpg') center center no-repeat;
  height: 359px;
}

/* Sidebar Menu*/

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 25px;
}

.menu-link {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ec1e79;
  font-size: 12px; 
}

.menu-item--active .menu-link,
.menu-link:hover {
  color: #000;
}

.menu-link::before {
  content: '';
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; 
  width: 20px;
  height: 18px; 
}

.menu-link--main:before {
  background-image: url('../img/icons/menu-main.png');
  margin-right: 10px;
}

.menu-item--active .menu-link--main:before,
.menu-link--main:hover:before {
  background-image: url('../img/icons/menu-main-active.png');
}

.menu-link--feed:before {
  background-image: url('../img/icons/menu-feed.png');
  margin-right: 7px;
}
.menu-item--active .menu-link--feed:before,
.menu-link--feed:hover:before {
  background-image: url('../img/icons/menu-feed-active.png');
}

.menu-link--wallet:before {
  background-image: url('../img/icons/menu-wallet.png');
  margin-right: 8px;
}

.menu-item--active .menu-link--wallet:before,
.menu-link--wallet:hover:before {
  background-image: url('../img/icons/menu-wallet-active.png');
}

/* Sidebar */

.sidebar {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}

/* Content */

.content {
  display: inline-block;
  width: 900px;
  vertical-align: top;
}

/* Features */

.features {
  margin-bottom: 25px;
}

.features-item {
  text-align: center;
  width: 207px;
  display: inline-block;
  color: #221f1f;
  font-size: 18px;
}

.features-item__title {
  color: #212121;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.features-item:before {
  content: '';
  display: inline-block;
  width: 68px;
  height: 68px;
  background-color: #27273e;
  border-radius: 50%;
  margin-bottom: 25px;
  background-position: center center;
  background-repeat: no-repeat;  
}

.features--flower:before {
  background-image: url('../img/icons/features-flower.png');
}

.features--star:before {
  background-image: url('../img/icons/features-star.png');
}

.features--palette:before {
  background-image: url('../img/icons/features-palette.png');
}

.features-item__item {
  margin-bottom: 15px;
}

/* News */

.news-content {
  margin-bottom: 35px;
}

.news-item {
  padding: 30px 0;
  border-bottom: 2px solid #f5f5f5;
}

.news-item:last-child {
  border: 0;
}

.news-item__image {
  border-radius: 50%;
  display: inline-block;
  width: 160px;
  vertical-align: top;
  margin-right: 20px;
}

.news-item__content {
  display: inline-block;
  width: 685px;
  vertical-align: top;
}

.news-item__date {
  color: #656464;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 300;
}

.news-item__title {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.news-item__text {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
}

/* Pagination */

.pagination {
  text-align: center;
  margin-bottom: 25px;
}

.pagination__description {
  display: inline-block;
  color: #656464;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
  margin-right: 10px;
}

.pagination__content {
  display: inline-block;
}

.pagination__direction {
  display: inline-block;
  font-family: 'Myriad Pro', Helvetica, sans-serif;
  text-decoration: none;
  color: #221f1f;
}

.pagination__page {
  display: inline-block;
}

.pagination__pages {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination__link {
  text-decoration: none;
  color: #221f1f;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}

/* Footer */

.footer {
  background-color: #27273e;
  padding: 10px 0 15px;
}

.author {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 14px;
  width: 264px;
  line-height: 18px;
}

.author__link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.socials__title {
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  display: inline-block;
  font-size: 0;
  margin-right: 7px;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #d4d4d8;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;  
}

.social__link:hover {
  background-color: #ec1e79;
}

.social__link--vk {
  background-image: url('../img/socials-vk.png');
}

.social__link--fb {
  background-image: url('../img/socials-fb.png');
}

.social__link--google {
  background-image: url('../img/socials-google.png');
}

.social__link--tw {
  background-image: url('../img/socials-twitter.png');
}

.social__link--mail {
  background-image: url('../img/socials-mail.png');
}

.author {
  display: inline-block;
  vertical-align: top;
  margin-right: 250px;
}

.footer .logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 306px;
}

.socials {
  display: inline-block;
  vertical-align: top;
}