.author {
  color: #ffffff;
  font-family: 'Gotham Pro', Helvetica, sans-serif;
  font-size: 14px;  
  line-height: 1.3em;
}

.author__link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}