.breadcrumbs {
  display: flex;
  line-height: 0.8em;
}

.breadcrumbs__link {
  color: #ec1e79;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  display: flex;
}

.breadcrumbs__link::before {
  content: '/';
  color: #221f1f;
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumbs__item:first-child .breadcrumbs__link::before {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  text-decoration: none;
  color: #221f1f;
}