.features {
  margin-bottom: 25px;
  border: 1px solid #e8e9ed;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 16px;
}

.features__header {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;  
  text-transform: uppercase;
  margin: 0 0 26px;
}

.content-title__features {
  margin-bottom: 61px;
}

.features-item {
  color: #221f1f;
  font-size: 18px;
}

.featires-item__description {
  margin: 0 0 9px 0;
  line-height: 1.5em;
  padding-left: 15px;
}

.features-item__title {
  color: #212121;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.features--flower:before {
  background-image: url('../../img/icons/features-flower.png');
}

.features--star:before {
  background-image: url('../../img/icons/features-star.png');
}

.features--palette:before {
  background-image: url('../../img/icons/features-palette.png');
}

.features-item__list {
  text-align: left;
  padding-left: 62px;
}

.features-item__item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.features-item__item:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #cc3366;
  border-radius: 50%;
  margin-right: 32px;
}