.footer {
  background-color: #27273e;
  padding: 10px 0 15px;
}

.container__footer {
  display: flex;
  align-items: center;
}

.footer__column {
  display: flex;
  flex: 1;  
}

.footer__column--center {
  justify-content: center;
}

.footer__column--right {
  justify-content: flex-end;
}