.footer {
  background-color: #27273e;
  padding: 10px 0 15px;
}

.logo__footer {
  margin-right: 309px;
}

.container__footer {
  display: flex;
  align-items: center;
}

.author__footer {
  margin-right: 211px;
}