.header {
  background-color: #27273e;
}

.container__header {
  min-height: 77px;
  display: flex;
}

.header__column {
  display: flex;
  flex: 1;
}

.header__column--center {
  flex: 2;
}

.header__column--align-right {
  justify-content: flex-end;
}

.logo__header {
  padding-top: 14px;
}

.contacts__header {
  padding-top: 20px;
}

.nav__header {
  width: 100%;
}