.header {
  background-color: #27273e;
}

.container__header {
  min-height: 77px;
  display: flex;
  align-items: center;
  padding-top: 7px;
}

.header__column {
  display: flex;
  flex: 1;
}

.header__column--align-right {
  justify-content: flex-end;
}