.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 25px;
}

.menu-link {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ec1e79;
  font-size: 12px; 
}

.menu-item--active .menu-link,
.menu-link:hover {
  color: #000;
}

.menu-link::before {
  content: '';
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; 
  width: 20px;
  height: 18px; 
}

.menu-link--main:before {
  background-image: url('../../img/icons/menu-main.png');
  margin-right: 10px;
}

.menu-item--active .menu-link--main:before,
.menu-link--main:hover:before {
  background-image: url('../../img/icons/menu-main-active.png');
}

.menu-link--feed:before {
  background-image: url('../../img/icons/menu-feed.png');
  margin-right: 7px;
}
.menu-item--active .menu-link--feed:before,
.menu-link--feed:hover:before {
  background-image: url('../../img/icons/menu-feed-active.png');
}

.menu-link--wallet:before {
  background-image: url('../../img/icons/menu-wallet.png');
  margin-right: 8px;
}

.menu-item--active .menu-link--wallet:before,
.menu-link--wallet:hover:before {
  background-image: url('../../img/icons/menu-wallet-active.png');
}