.news {
  margin-bottom: 70px;
}

.news-content {
  margin-bottom: 42px;
  margin-left: -5px;
}

.content-title__news {
  margin-bottom: 50px;
}

.news-item {
  padding: 30px 0 19px 0;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
}

.news-item:last-child {
  border: 0;
}

.news-item__info {
  width: 19%;
  margin-right: 18px;
}

.news-item__content {
  width: 81%;
}

.news-item__image {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.news-item__pic {
  display: block;
  max-width: 100%;
}

.news-item__date {
  color: #656464;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 3px;
  font-weight: 300;
  line-height: 1.2em;
}

.news-item__title {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 11px;
}

.news-item__text {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.63em;
}

.pagination__news {
  padding-left: 274px;
}