.partner {
  margin-bottom: 33px;
  display: block;
  padding-left: 18px;
}

.partner:last-child {
  margin-bottom: 0;
}

.partner__link {
  display: block;
  text-align: center;
}

.partner__image {
  filter: grayscale(100%);
}

.partner__image:hover {
  filter: grayscale(0);
}