.reviews-item__info {
  width: 19%;
  margin-right: 18px;
}

.reviews-item__content {
  width: 81%;
}

.reviews-item__image {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}

.reviews-item__pic {
  display: block;
  max-width: 100%;
}

.reviews-content {
  margin-bottom: 20px;
}

.reviews-item {
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  padding-top: 30px;
  padding-bottom: 21px;
}

.reviews-item:last-child {
  border: 0;
}

.reviews-item__date {
  color: #656464;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 3px;
  font-weight: 300;
  line-height: 1em;
}

.reviews-item__title {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 8px;
}

.reviews-item__text {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.67em;
}

.pagination__reviews {
  padding-left: 221px;
}

.content-title__reviews {
  margin-bottom: 21px;
}