.socials__title {
  color: #ffffff;
  font-family: 'Gotham Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.socials__item {
  font-size: 0;
  margin-right: 11px;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #d4d4d8;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;  
}

.social__link:hover {
  background-color: #ec1e79;
}

.social__link--vk {
  background-image: url('../../img/socials-vk.png');
}

.social__link--fb {
  background-image: url('../../img/socials-fb.png');
}

.social__link--google {
  background-image: url('../../img/socials-google.png');
}

.social__link--tw {
  background-image: url('../../img/socials-twitter.png');
}

.social__link--mail {
  background-image: url('../../img/socials-mail.png');
}

.socials {
  display: inline-block;
  vertical-align: top;
}