.socials__title {
  color: #221f1f;
  font-family: 'Gotham Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  text-align: center;
}

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding: 0 0 0 67px;
}

.socials__item {
  font-size: 0;
  margin-right: 10px;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;  
}

.social__link--vk {
  background-image: url('../../img/socials-vk.png');
}

.social__link--fb {
  background-image: url('../../img/socials-fb.png');
}

.social__link--google {
  background-image: url('../../img/socials-google.png');
}

.social__link--tw {
  background-image: url('../../img/socials-twitter.png');
}

.social__link--mail {
  background-image: url('../../img/socials-mail.png');
}